# Object files
*.o
*.ko
*.o.*
*.ko.*
*.mod.*

# autoconf/configure/make files
*modules.order
*Module.symvers
*Makefile
*Makefile.in
config.*
configure
.tmp_versions*
autom4te.cache
aclocal.m4
compile
libtool
ltmain.sh
version.c
*.deps*

# Version control
*cscope*
tags
TAGS
